<div class="container">
    <div class="jumbotron">
        <h1>Busca de Produtos</h1>
        <p>Essa página é responsável por fazer a busca de Produtos.</p>
    </div>

    <form>
        <label for="inputText">BUSCAR POR:</label>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <select id="inputState" class="form-control" #optionSearch (change)="0">
                    <option value="Product" selected>Produto</option>
                    <option value="Technology">Tecnologia</option>
                    <option value="Target">Mercado</option>
                </select>
            </div>
            <div class="col-auto">
                <input #txtSearch  type="text" class="form-control ">
            </div>
            <div class="col-auto">
                <button *ngIf = "optionSearch.value == 'Technology'" class="btn btn-primary" (click)="getProductPerNameTechnology(txtSearch.value)">Buscar</button>
                <button *ngIf = "optionSearch.value == 'Product'"  class="btn btn-primary" (click)="getProductPerNameProduct(txtSearch.value)">Buscar</button>
                <button *ngIf = "optionSearch.value == 'Target'"  class="btn btn-primary" (click)="getProductPerNameTarget(txtSearch.value)">Buscar</button>
            </div>
        </div>
    </form>
    <br>
    <div class="container"  >
        <button *ngFor="let item of words" type="button" class="btn btn-outline-primary btn-sm" title="Excluir" (click)="removeItem(fazNADA)">{{ item }}</button>
    </div>

    <br>

  <div class="row">
      <div class="col">
          <table class="table table-striped table-hover">
              <thead class="thead-dark">
              <tr>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Tecnologias</th>
                  <th>Mercado Alvo</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let Gubeeproduct of products" >
                      <td>{{Gubeeproduct.name}}</td>
                      <td>{{Gubeeproduct.description}}</td>
                      <td>
                        <ul *ngFor="let technology of Gubeeproduct.technologies" >
                          <li>{{technology.name}}</li>
                        </ul>
                      </td>
                      <td>
                        <ul *ngFor="let target of Gubeeproduct.targets">
                          <li>{{target.name}}</li>
                        </ul>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>



